input {
    width: 30%
}

.thermoTitle{
    margin-right: 15px;
}

.thermoTitle, .thermoSlider{
    display:inline-block;
    vertical-align:middle;
}

.thermoSlider{
    width: 60px;
    max-width:600px;
    min-width:300px;
}
